IMPORTING THE IMPORTANT LIBRARIES

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

PRE-PROCESSING THE RAW DATA

In [3]:
# Loading The CSV File Into A Readable Pandas Dataframe
heart_df=pd.read_csv('/content/heart.csv')

In [4]:
# Printing The First 5 Rows To Get A Dataset Overview
heart_df.head() # First 5 Rows

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [5]:
# Printing The Last 5 Rows To Get A Dataset Overview
heart_df.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [6]:
# Checking The Total Number Of Rows And Columns
heart_df.shape

(1025, 14)

In [7]:
# Checking For Any Missing Values Inside The Dataset
heart_df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [8]:
# Getting Essential Information About The Data
heart_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [9]:
# Counting The Frequency For Particular Values Of The Target To Check If The Data Is Properly Distributed
heart_df.value_counts('target')

target
1    526
0    499
dtype: int64

SPLITTING THE DATA FEATURES AND TARGET

In [10]:
x=heart_df.drop(columns='target', axis=1) # Removing The Last Target Columns
y=heart_df.iloc[:,-1] # Adding The Last Column - Target Column

DIVIDING THE DATASET INTO TRAINING DATA AND TESTING DATA

In [11]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, stratify=y, random_state=2)
print(x.shape, x_train.shape, x_test.shape, y.shape, y_train.shape, y_test.shape)

(1025, 13) (820, 13) (205, 13) (1025,) (820,) (205,)

TRAINING THE MODEL WITH THE TRAINING DATA-SET

*   LOGISTIC REGRESSION MODEL

In [12]:
# Making A Instance Or Copy Of The LogisticRegression Model In A Variable
mymodel = LogisticRegression()

In [13]:
# Training The LogisticRegression Model With The Training Dataset
mymodel.fit(x_train,y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

EVALUATING THE MODEL

*    ACCURACY SCORES

In [14]:
# Accuracy Scores On The Training Data
x_train_predict = mymodel.predict(x_train)
train_data_accu = accuracy_score(x_train_predict,y_train)
print("The accuracy score of the training data is : ",train_data_accu)

The accuracy score of the training data is :  0.8524390243902439

In [15]:
# Accuracy Scores On The Test Data
x_test_predict = mymodel.predict(x_test)
test_data_accu = accuracy_score(x_test_predict,y_test)
print("The accuracy score of the test data is : ",test_data_accu)

The accuracy score of the test data is :  0.8048780487804879

BUILDING A USER-BASED PREDICTION SYSTEM

In [29]:
# Values Input By The User
age=int(input('Enter the age :'))
sex=int(input('Enter 0 for female and 1 for male :'))
cp=int(input('Enter the chest pain type - 0,1,2,3 :'))
trestbps=int(input('Enter the resting or fast blood pressure :'))
chol=int(input('Enter the cholestrol level in mg/dl :'))
fbs=int(input('if fasting blood sugar greater than 120mg/dl enter 0 or enter 1:'))
restecg=int(input('Enter the rest ecg value from 0,1,2 :'))
thalach=int(input('Enter the maximum heart rate achieved :'))
exang=int(input('Do you have exercise induced angina 1-Yes 0-No :'))
oldpeak=float(input('ST depression induced by exercise relative to rest :'))
slope=int(input('the slope of the peak exercise ST segment :'))
ca=int(input('number of major vessels (0-3) colored by flourosopy :'))
thal=int(input(' 0 = normal; 1 = fixed defect; 2 = reversable defect :'))
 
 # Inputting The Data In A Tuple
input_data=(age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal)
 # Converting The Tuple Into Numpy Array
input_data_numpy = np.asarray(input_data)

# Re-shaping The Numpy Array For Predicting For A Single Value
input_data_reshaped=input_data_numpy.reshape(1,-1)

# Assign feature names to the input data
feature_names = ["age","sex","cp","trestbps","chol","fbs","restecg","thalach","exang","oldpeak","slope","ca","thal"]
input_data_df = pd.DataFrame(input_data_reshaped, columns=feature_names)

# Make predictions with the input data
prediction = mymodel.predict(input_data_df)
if (prediction[0]==0):
  print("The Person Does Not Have A Heart Disease")
else:
  print("The Person Have A Heart Disease")

Enter the age :58
Enter 0 for female and 1 for male :0
Enter the chest pain type - 0,1,2,3 :0
Enter the resting or fast blood pressure :100
Enter the cholestrol level in mg/dl :248
if fasting blood sugar greater than 120mg/dl enter 0 or enter 1:0
Enter the rest ecg value from 0,1,2 :0
Enter the maximum heart rate achieved :122
Do you have exercise induced angina 1-Yes 0-No :0
ST depression induced by exercise relative to rest :1
the slope of the peak exercise ST segment :1
number of major vessels (0-3) colored by flourosopy :0
 0 = normal; 1 = fixed defect; 2 = reversable defect :2
[1]
[1]
The Person Have A Heart Disease